.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.09;
  margin: 92px 0 40px 0;
}
@media (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    margin: 88px 24px 40px 24px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    margin: 64px 16px 40px 16px;
  }
}
